## PARITE DATA 
SONIA SAI 
ETIA-ANAELLE SAKOA

## PARTIE A : ANALYSE ET PRÉTRAITEMENT

Cette partie vise à faire une analyse exploratoire des données récoltées et une segmentation du marché boursier

# 1. Collecte des données

In [1]:
!pip install yfinance

Collecting yfinance

WARNING: Skipping C:\Users\sonia\anaconda3\Lib\site-packages\jupyter-1.0.0.dist-info due to invalid metadata entry 'name'
WARNING: Skipping C:\Users\sonia\anaconda3\Lib\site-packages\jupyter-1.0.0.dist-info due to invalid metadata entry 'name'
WARNING: Skipping C:\Users\sonia\anaconda3\Lib\site-packages\jupyter-1.0.0.dist-info due to invalid metadata entry 'name'
WARNING: Skipping C:\Users\sonia\anaconda3\Lib\site-packages\jupyter-1.0.0.dist-info due to invalid metadata entry 'name'
WARNING: Skipping C:\Users\sonia\anaconda3\Lib\site-packages\jupyter-1.0.0.dist-info due to invalid metadata entry 'name'
WARNING: Skipping C:\Users\sonia\anaconda3\Lib\site-packages\jupyter-1.0.0.dist-info due to invalid metadata entry 'name'
WARNING: Skipping C:\Users\sonia\anaconda3\Lib\site-packages\jupyter-1.0.0.dist-info due to invalid metadata entry 'name'
WARNING: Skipping C:\Users\sonia\anaconda3\Lib\site-packages\jupyter-1.0.0.dist-info due to invalid metadata entry 'name'
WARNING: Skipping C:\Users\sonia\anaconda3\Lib\site-packages\jupyter-1.0.0.dist-info due to invalid metadata entry 'name'

  Downloading yfinance-0.2.55-py2.py3-none-any.whl.metadata (5.8 kB)
Requirement already satisfied: pandas>=1.3.0 in c:\users\sonia\anaconda3\lib\site-packages (from yfinance) (2.2.0)
Requirement already satisfied: numpy>=1.16.5 in c:\users\sonia\anaconda3\lib\site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in c:\users\sonia\anaconda3\lib\site-packages (from yfinance) (2.31.0)
Collecting multitasking>=0.0.7 (from yfinance)
  Downloading multitasking-0.0.11-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\sonia\appdata\roaming\python\python311\site-packages (from yfinance) (4.1.0)
Requirement already satisfied: pytz>=2022.5 in c:\users\sonia\anaconda3\lib\site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\sonia\anaconda3\lib\site-packages (from yfinance) (2.4.2)
Collecting peewee>=3.16.2 (from yfinance)
  Downloading peewee-3.17.9.tar.gz (3.0 MB)
     ---------------------------------------- 0.0/3.0 MB ? eta -:--:--
     ---------------------------------------- 0.0/3.0 MB ? eta -:--:--
     ---------------------------------------- 0.0/3.0 MB 217.9 kB/s eta 0:00:14
     ---------------------------------------- 0.0/3.0 MB 259.2 kB/s eta 0:00:12
      --------------------------------------- 0.1/3.0 MB 290.5 kB/s eta 0:00:11
     -- ------------------------------------- 0.2/3.0 MB 1.0 MB/s eta 0:00:03
     ---- ----------------------------------- 0.4/3.0 MB 1.6 MB/s eta 0:00:02
     ------- -------------------------------- 0.6/3.0 MB 2.2 MB/s eta 0:00:02
     ---------- ----------------------------- 0.8/3.0 MB 2.3 MB/s eta 0:00:01
     ------------- -------------------------- 1.1/3.0 MB 2.9 MB/s eta 0:00:01
     ----------------- ---------------------- 1.3/3.0 MB 3.1 MB/s eta 0:00:01
     ------------------- -------------------- 1.5/3.0 MB 3.1 MB/s eta 0:00:01
     --------------------- ------------------ 1.6/3.0 MB 3.2 MB/s eta 0:00:01
     ----------------------- ---------------- 1.8/3.0 MB 3.4 MB/s eta 0:00:01
     ------------------------- -------------- 1.9/3.0 MB 3.3 MB/s eta 0:00:01
     --------------------------- ------------ 2.1/3.0 MB 3.2 MB/s eta 0:00:01
     ------------------------------ --------- 2.3/3.0 MB 3.4 MB/s eta 0:00:01
     ------------------------------- -------- 2.4/3.0 MB 3.2 MB/s eta 0:00:01
     -------------------------------- ------- 2.5/3.0 MB 3.2 MB/s eta 0:00:01
     ----------------------------------- ---- 2.7/3.0 MB 3.2 MB/s eta 0:00:01
     -------------------------------------- - 2.9/3.0 MB 3.4 MB/s eta 0:00:01
     ---------------------------------------  3.0/3.0 MB 3.3 MB/s eta 0:00:01
     ---------------------------------------- 3.0/3.0 MB 3.2 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\sonia\anaconda3\lib\site-packages (from yfinance) (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\sonia\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sonia\appdata\roaming\python\python311\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sonia\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\sonia\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sonia\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\sonia\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sonia\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2024.8.30)
Requirement already satisfied: six>=1.5 in c:\users\sonia\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.16.0)
Downloading yfinance-0.2.55-py2.py3-none-any.whl (109 kB)
   ---------------------------------------- 0.0/109.8 kB ? eta -:--:--
   ---------------------------------------- 109.8/109.8 kB 3.2 MB/s eta 0:00:00
Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Building wheels for collected packages: peewee
  Building wheel for peewee (pyproject.toml): started
  Building wheel for peewee (pyproject.toml): finished with status 'done'
  Created wheel for peewee: filename=peewee-3.17.9-py3-none-any.whl size=139127 sha256=5737b927e4f9a9d3eab9e7bf1c9a437f711a50816bf605ecb66cb93b1e4d2e92
  Stored in directory: c:\users\sonia\appdata\local\pip\cache\wheels\f4\14\e4\50c88c865833085aeb91e2bd40e3a683ff434806386b8ee7bc
Successfully built peewee
Installing collected packages: peewee, multitasking, yfinance
Successfully installed multitasking-0.0.11 peewee-3.17.9 yfinance-0.2.55

In [2]:
import yfinance as yf
import pandas as pd

In [3]:
start_date = "2018-01-01"
end_date = "2024-12-31"

In [4]:
#téléchargement des données
tickers = ['TSLA', 'AAPL', 'GOOG', 'AMZN', 'META']  
data = yf.download(tickers, start=start_date, end=end_date)

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  5 of 5 completed

In [5]:
data.to_csv("donnees_boursieres.csv")

# 2. Analyse et prétraitement des données

In [6]:
# 1. Analyse exploratrice :
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pylab as plt

In [8]:
fichier="donnees_boursieres.csv"
df_bours=pd.read_csv(fichier, sep=";")
df_bours.head()

  Price,Close,Close,Close,Close,Close,High,High,High,High,High,Low,Low,Low,Low,Low,Open,Open,Open,Open,Open,Volume,Volume,Volume,Volume,Volume
0  Ticker,AAPL,AMZN,GOOG,META,TSLA,AAPL,AMZN,GOOG...
1                      Date,,,,,,,,,,,,,,,,,,,,,,,,,
2  2018-01-02,40.47983932495117,59.45050048828125...
3  2018-01-03,40.4727897644043,60.209999084472656...
4  2018-01-04,40.66078186035156,60.47949981689453...

In [14]:
#Nettoyage et réorganisation du csv 
df_bours = pd.read_csv("C:/Users/sonia/Documents/GitHub/Projet_Final_ML_M1/donnees_boursieres.csv", header=[0, 1])
df_final = df_bours[2:].copy()
df_final.reset_index(drop=True, inplace=True)

#Fusion les colonnes multi-index en colonnes lisibles
df_final.columns = [f"{col[0]}_{col[1]}" if col[0] not in ["Price", "Ticker", "Date"] else f"{col[0]}" for col in df_final.columns]

#Colonne date : renomme
possible_date_col = [col for col in df_final.columns if "Date" in col or "Price" in col]
if possible_date_col:
    df_final.rename(columns={possible_date_col[0]: "Date"}, inplace=True)

#Convertir la colonne Date en datetime
df_final["Date"] = pd.to_datetime(df_final["Date"], errors="coerce")

#Supprimer les lignes sans date
df_final = df_final.dropna(subset=["Date"])
df_final.reset_index(drop=True, inplace=True)
df_final.head()

,Date,Close_AAPL,Close_AMZN,Close_GOOG,Close_META,Close_TSLA,High_AAPL,High_AMZN,High_GOOG,High_META,...,Open_AAPL,Open_AMZN,Open_GOOG,Open_META,Open_TSLA,Volume_AAPL,Volume_AMZN,Volume_GOOG,Volume_META,Volume_TSLA
0,2018-01-03,40.472790,60.209999,53.868855,183.803726,21.150000,41.017975,60.274502,54.058455,183.913211,...,40.543288,59.415001,52.964637,181.026821,21.400000,118071600.0,62176000.0,28604000.0,16886600.0,67822500.0
1,2018-01-04,40.660782,60.479500,54.063931,183.465332,20.974667,40.764179,60.793499,54.420742,185.336518,...,40.545634,60.250000,54.143555,184.032650,20.858000,89738400.0,60442000.0,20092000.0,13880900.0,149194500.0
2,2018-01-05,41.123714,61.457001,54.851692,185.973511,21.105333,41.210661,61.457001,54.952218,186.023264,...,40.757126,60.875500,54.442133,184.719412,21.108000,94640000.0,70894000.0,25582000.0,13574500.0,68868000.0
3,2018-01-08,40.970974,62.343498,55.086082,187.396790,22.427334,41.267063,62.653999,55.301561,188.013876,...,40.970974,61.799999,54.851692,186.321854,21.066668,82271200.0,85590000.0,20952000.0,17994700.0,147891000.0
4,2018-01-09,40.966270,62.634998,55.052250,186.988693,22.246000,41.137814,62.966499,55.266734,187.914338,...,41.017969,62.845001,55.208511,187.814802,22.344000,86336000.0,73226000.0,18050000.0,12393100.0,107199000.0

In [16]:
df_final.to_csv("donnees_boursieres_nettoyees.csv")